.tcon {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  border: none;
  cursor: pointer;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  height: 40px;
  -webkit-transition: 0.3s;
  -moz-transition: 0.3s;
  -ms-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  background: transparent;
  outline: none;
  -webkit-tap-highlight-color: transparent;
  padding: 0; }
  .tcon > * {
    display: block; }
  .tcon:hover, .tcon:focus {
    outline: none; }
  .tcon::-moz-focus-inner {
    border: 0; }

.tcon, .tcon-menu__lines, .tcon-menu__lines::before, .tcon-menu__lines::after {
  width: 40px; }

.tcon-menu__lines, .tcon-menu__lines::before, .tcon-menu__lines::after {
  display: inline-block;
  height: 3px;
  -webkit-transition: 0.3s;
  -moz-transition: 0.3s;
  -ms-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
  background: #6c6f7d;
  position: relative; }

.tcon-menu__lines::before, .tcon-menu__lines::after {
  content: '';
  position: absolute;
  left: 0;
  -webkit-transform-origin: 2.85714px center;
  transform-origin: 2.85714px center;
  width: 100%; }

.tcon-menu__lines::before {
  top: 10px; }

.tcon-menu__lines::after {
  top: -10px; }

.tcon-transform .tcon-menu__lines {
  transform: scale3d(0.8, 0.8, 0.8); }

.tcon-menu--xcross {
  width: auto; }

.tcon-menu--xcross.tcon-transform .tcon-menu__lines {
  background: transparent; }

.tcon-menu--xcross.tcon-transform .tcon-menu__lines::before,
.tcon-menu--xcross.tcon-transform .tcon-menu__lines::after {
  transform-origin: 50% 50%;
  top: 0;
  width: 40px; }

.tcon-menu--xcross.tcon-transform .tcon-menu__lines::before {
  transform: rotate3d(0, 0, 1, 45deg); }

.tcon-menu--xcross.tcon-transform .tcon-menu__lines::after {
  transform: rotate3d(0, 0, 1, -45deg); }

.tcon-visuallyhidden {
  border: 0;
  margin: -1px;
  padding: 0;
  width: 1px;
  height: 1px;
  overflow: hidden;
  clip: rect(0 0 0 0);
  clip: rect(0, 0, 0, 0);
  position: absolute; }
  .tcon-visuallyhidden:active, .tcon-visuallyhidden:focus {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto; }

.menu.col {
  float: right;
  text-align: right;
  height: auto; }
  .menu.col ul {
    -webkit-animation: fade-in 1.2s, slide-from-right 1.2s;
    -moz-animation: fade-in 1.2s, slide-from-right 1.2s;
    -ms-animation: fade-in 1.2s, slide-from-right 1.2s;
    -o-animation: fade-in 1.2s, slide-from-right 1.2s;
    animation: fade-in 1.2s, slide-from-right 1.2s; }
    @media only screen and (max-width: 768px) {
      .menu.col ul {
        display: none;
        padding: 20px 0;
        float: none;
        position: absolute;
        width: 100%;
        background-color: #41434b;
        left: 0;
        top: 0;
        text-align: center;
        height: 100vh;
        padding-top: 20%;
        z-index: 2;
        -webkit-animation: fade-in 0, slide-from-right 0;
        -moz-animation: fade-in 0, slide-from-right 0;
        -ms-animation: fade-in 0, slide-from-right 0;
        -o-animation: fade-in 0, slide-from-right 0;
        animation: fade-in 0, slide-from-right 0; } }
  .menu.col li {
    display: inline-block;
    margin: 0 20px; }
    .menu.col li:last-child {
      margin-right: 0; }
    .menu.col li a, .menu.col li a:visited {
      text-decoration: none;
      color: inherit;
      border-bottom: 3px solid transparent;
      box-shadow: none; }
      .menu.col li a:hover, .menu.col li a:visited:hover {
        border-bottom: 3px solid #00c9e8;
        box-shadow: inset 0 -5px 0 #00c9e8; }
      @media only screen and (max-width: 768px) {
        .menu.col li a, .menu.col li a:visited {
          color: #fff;
          display: inline-block;
          font-size: 2.5rem;
          padding: 10px 15px; } }
    @media only screen and (max-width: 768px) {
      .menu.col li {
        width: 100%;
        display: inline-block;
        padding: 0;
        margin: 0; } }
  .menu.col .tcon {
    display: none;
    position: absolute;
    top: 94px;
    z-index: 3;
    right: 100px; }
    @media only screen and (max-width: 960px) {
      .menu.col .tcon {
        top: 92px; } }
    @media only screen and (max-width: 768px) {
      .menu.col .tcon {
        display: block;
        right: 50px;
        top: 44px; } }
    @media only screen and (max-width: 500px) {
      .menu.col .tcon {
        top: 11px;
        right: 30px; } }

.filtering hr {
  margin-bottom: 20px; }

/*
TABLE OF CONTENTS
  HTML & Resets
  Grid
  Floats
  Form Elements
*/
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, font, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td {
  margin: 0;
  padding: 0; }

*, *:before, *:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

article, aside, figure, figure img, figcaption, hgroup, footer, header, nav, section, video, object {
  display: block; }

html {
  font-size: 62.5%; }

body {
  color: #111;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  font-size: 1.6rem;
  background-color: #F1F2F6; }

@media only screen and (max-width: 1140px) {
  .wrapper {
    min-width: 0;
    max-width: 1140px; } }

body, input, textarea, select, button {
  font-family: "Inconsolata", courier; }

a, a:visited {
  color: #00c9e8;
  text-decoration: none;
  border-bottom: 1px solid #D7D8E1; }
  a:hover, a:active, a:visited:hover, a:visited:active {
    color: #1DDDFB; }

a:hover, :focus, li:hover, img:hover, input:hover, button:hover, .btn:hover {
  -webkit-transition: all 0.3s linear;
  -moz-transition: all 0.3s linear;
  -ms-transition: all 0.3s linear;
  -o-transition: all 0.3s linear;
  transition: all 0.3s linear; }

p {
  margin-bottom: 15px;
  line-height: 145%; }

hr {
  display: block;
  height: 2px;
  background: #D7D8E1;
  color: #D7D8E1;
  border: 0;
  clear: both; }

figure {
  position: relative;
  text-align: center; }
  figure img {
    display: block;
    margin: 0 auto; }
  figure figcaption {
    font-size: 1rem; }

img {
  height: auto;
  max-width: 100%; }

.small, small {
  font-size: 1.3rem; }

h1, h2, h3, h4, h5 {
  font-family: "Roboto", "Helvetica Neue", sans-serif;
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility; }

h1 {
  font-size: 2.4rem; }

h2 {
  font-size: 2rem; }

h3 {
  font-size: 1.8rem; }

h4 {
  font-size: 1.4rem; }

h5 {
  font-size: 1rem; }

h6 {
  font-size: .8rem; }

blockquote {
  margin: 25px 45px; }

pre, code {
  font: 1.25rem "Courier New", Courier, monospace; }

code {
  background: #F1F2F6;
  padding: 10px;
  display: block; }

.row {
  clear: both;
  margin: 0 auto;
  padding: 0 100px; }
  .row:before, .row:after {
    content: "";
    display: table; }
  .row:after {
    clear: both; }
  @media only screen and (min-width: 1140px) {
    .row {
      max-width: 1440px; } }
  .row .col {
    float: left;
    margin: 25px 4% 25px 0;
    display: block; }
    .row .col:last-child, .row .col.twelvecol {
      margin-right: 0; }

.twelvecol {
  width: 100%; }

.elevencol {
  width: 91.33%; }

.tencol {
  width: 82.66%; }

.ninecol {
  width: 74%; }

.eightcol {
  width: 65.33%; }

.sevencol {
  width: 56.66%; }

.sixcol {
  width: 48%; }

.fivecol {
  width: 39.33%; }

.fourcol {
  width: 30.66%; }

.threecol {
  width: 22%; }

.twocol {
  width: 13.33%; }

.onecol {
  width: 4.666%; }

.left {
  float: left; }

.right {
  float: right; }

.clearfix:after, .bar:after, .row:after {
  content: "";
  display: table;
  clear: both; }

input[type=text], input[type=email], input[type=password], textarea {
  border-style: 1px solid #D7D8E1;
  padding: 8px;
  color: #111;
  -webkit-appearance: none; }

input:focus, textarea:focus {
  border-color: #333; }

textarea {
  width: 100%; }

.btn, button, input[type=submit] {
  background: #333;
  color: #fff;
  padding: 12px 32px;
  border-radius: 2px;
  cursor: pointer;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  border: none;
  text-transform: uppercase;
  letter-spacing: .08em;
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
  font-weight: 600;
  font-size: 1.1rem;
  font-family: "Roboto", "Helvetica Neue", sans-serif;
  text-align: center; }

@-webkit-keyframes fade-in {
  0% {
    opacity: 0; }
  100% {
    opacity: 1; } }
@-moz-keyframes fade-in {
  0% {
    opacity: 0; }
  100% {
    opacity: 1; } }
@-ms-keyframes fade-in {
  0% {
    opacity: 0; }
  100% {
    opacity: 1; } }
@-o-keyframes fade-in {
  0% {
    opacity: 0; }
  100% {
    opacity: 1; } }
@keyframes fade-in {
  0% {
    opacity: 0; }
  100% {
    opacity: 1; } }
@-webkit-keyframes slide-from-right {
  0% {
    margin-right: -20px; }
  100% {
    margin-right: 0; } }
@-moz-keyframes slide-from-right {
  0% {
    margin-right: -20px; }
  100% {
    margin-right: 0; } }
@-ms-keyframes slide-from-right {
  0% {
    margin-right: -20px; }
  100% {
    margin-right: 0; } }
@-o-keyframes slide-from-right {
  0% {
    margin-right: -20px; }
  100% {
    margin-right: 0; } }
@keyframes slide-from-right {
  0% {
    margin-right: -20px; }
  100% {
    margin-right: 0; } }
@-webkit-keyframes slide-from-left {
  0% {
    margin-left: -20px; }
  100% {
    margin-left: 0; } }
@-moz-keyframes slide-from-left {
  0% {
    margin-left: -20px; }
  100% {
    margin-left: 0; } }
@-ms-keyframes slide-from-left {
  0% {
    margin-left: -20px; }
  100% {
    margin-left: 0; } }
@-o-keyframes slide-from-left {
  0% {
    margin-left: -20px; }
  100% {
    margin-left: 0; } }
@keyframes slide-from-left {
  0% {
    margin-left: -20px; }
  100% {
    margin-left: 0; } }
@-webkit-keyframes loading {
  0% {
    width: 0; }
  99% {
    width: 100%;
    opacity: 1; }
  100% {
    opacity: 0; } }
@-moz-keyframes loading {
  0% {
    width: 0; }
  99% {
    width: 100%;
    opacity: 1; }
  100% {
    opacity: 0; } }
@-ms-keyframes loading {
  0% {
    width: 0; }
  99% {
    width: 100%;
    opacity: 1; }
  100% {
    opacity: 0; } }
@-o-keyframes loading {
  0% {
    width: 0; }
  99% {
    width: 100%;
    opacity: 1; }
  100% {
    opacity: 0; } }
@keyframes loading {
  0% {
    width: 0; }
  99% {
    width: 100%;
    opacity: 1; }
  100% {
    opacity: 0; } }
.top-border, .bottom-border,
.left-border, .right-border {
  background: #e8e9ee;
  position: fixed;
  width: 100%;
  z-index: 999;
  padding: 10px; }
  @media only screen and (max-width: 768px) {
    .top-border, .bottom-border,
    .left-border, .right-border {
      display: none; } }

.top-border {
  top: 0;
  left: 0; }

.bottom-border {
  bottom: 0;
  left: 0; }

.left-border, .right-border {
  position: fixed;
  z-index: 9999;
  width: 25px;
  height: 100%; }

.left-border {
  left: 0; }

.right-border {
  right: 0; }

.container {
  padding: 100px; }
  @media only screen and (max-width: 768px) {
    .container {
      padding: 50px; } }
  @media only screen and (max-width: 500px) {
    .container {
      padding: 30px; } }

@media only screen and (max-width: 960px) {
  .container, .row {
    padding-left: 50px;
    padding-right: 50px; } }
@media only screen and (max-width: 500px) {
  .container, .row {
    padding-left: 30px;
    padding-right: 30px; } }

.loader {
  height: 3px;
  background-color: #00c9e8;
  position: fixed;
  top: 20px;
  width: 0;
  -webkit-animation: loading 1.3s linear forwards;
  -moz-animation: loading 1.3s linear forwards;
  -ms-animation: loading 1.3s linear forwards;
  -o-animation: loading 1.3s linear forwards;
  animation: loading 1.3s linear forwards; }

.branding {
  -webkit-animation: fade-in 1.2s, slide-from-left 1.2s;
  -moz-animation: fade-in 1.2s, slide-from-left 1.2s;
  -ms-animation: fade-in 1.2s, slide-from-left 1.2s;
  -o-animation: fade-in 1.2s, slide-from-left 1.2s;
  animation: fade-in 1.2s, slide-from-left 1.2s; }
  .branding h1 {
    font-size: 1.8rem;
    margin-bottom: 4px; }
    .branding h1 a {
      border: none;
      color: inherit; }
  .branding h2 {
    font-weight: 100;
    font-family: "Inconsolata", courier;
    color: #888f9a; }
  @media only screen and (max-width: 500px) {
    .branding {
      margin-top: -14px; } }

.intro h3 {
  font-size: 5.4rem;
  margin: 10% 0 15%;
  -webkit-animation: fade-in 1.2s, slide-from-left 1.2s;
  -moz-animation: fade-in 1.2s, slide-from-left 1.2s;
  -ms-animation: fade-in 1.2s, slide-from-left 1.2s;
  -o-animation: fade-in 1.2s, slide-from-left 1.2s;
  animation: fade-in 1.2s, slide-from-left 1.2s;
  width: 75%; }
  @media only screen and (max-width: 1140px) {
    .intro h3 {
      font-size: 4rem;
      width: auto; } }
  @media only screen and (max-width: 960px) {
    .intro h3 {
      font-size: 3.5rem; } }
  @media only screen and (max-width: 768px) {
    .intro h3 {
      font-size: 3.2rem;
      margin: 17% 0 24%; } }
  @media only screen and (max-width: 500px) {
    .intro h3 {
      font-size: 2.2rem;
      margin: 23% 0 21%; } }

.filtering.col button {
  background: transparent;
  text-transform: capitalize;
  padding: 0 0 0 14px;
  color: #888f9a;
  display: block;
  font-size: 1.6rem;
  font-family: "Inconsolata", courier;
  text-align: left;
  font-weight: 400; }
  .filtering.col button:focus {
    outline: none; }
  .filtering.col button:hover, .filtering.col button:focus {
    color: inherit; }
  .filtering.col button.is-checked {
    color: inherit; }
    .filtering.col button.is-checked:before {
      content: "\2713 ";
      margin-left: -14px; }
.filtering.col .sorting {
  margin-top: 50px; }

@media only screen and (max-width: 960px) {
  .filtering.col, .samples.col {
    float: none;
    width: 100%; } }

a.load-more, a.load-more:visited {
  margin-top: 40px;
  background-color: transparent;
  border: 2px solid #D7D8E1;
  border-radius: 4px;
  color: inherit;
  padding: 16px;
  display: block; }
  a.load-more:hover, a.load-more:active, a.load-more:visited:hover, a.load-more:visited:active {
    background: #D7D8E1;
    color: inherit; }

.widget {
  margin-bottom: 30px; }
  .widget h4 {
    margin-bottom: 20px; }
  .widget ul li {
    list-style: none;
    line-height: 1.35;
    margin-bottom: 15px; }
    .widget ul li a, .widget ul li a:visited {
      color: inherit; }
      .widget ul li a:hover, .widget ul li a:active, .widget ul li a:visited:hover, .widget ul li a:visited:active {
        color: #00c9e8; }
    .widget ul li .date {
      color: #888f9a;
      display: inline; }

.widgets-footer {
  margin-top: 5%; }
  .widgets-footer hr {
    margin: 5% 0; }
  @media only screen and (max-width: 768px) {
    .widgets-footer .widget.col {
      float: none;
      display: block;
      width: 100%;
      margin-bottom: 40px; } }

.container.bottom {
  background: #e8e9ee;
  margin-top: 80px;
  padding: 50px; }
  @media only screen and (min-width: 1140px) {
    .container.bottom {
      padding: 100px; } }

footer .col {
  margin: 0; }
  footer .col.right {
    float: right; }
@media only screen and (max-width: 768px) {
  footer {
    text-align: center;
    padding: 50px; }
    footer .col, footer .col.right {
      float: none; }
    footer .more {
      margin-bottom: 20px; }
    footer .copy, footer .email {
      display: block; }
    footer .copy {
      margin-bottom: 5px; }
    footer .divider {
      display: none; } }

.more a, .more a:visited {
  color: inherit;
  font-size: 1.8rem;
  border: none;
  display: inline-block;
  margin-left: 4px;
  color: #fff;
  background: #00c9e8;
  width: 30px;
  height: 30px;
  text-align: center;
  line-height: 30px; }
  .more a:hover, .more a:active, .more a:visited:hover, .more a:visited:active {
    background: #1DDDFB; }

/*# sourceMappingURL=style.css.map */
