.tcon {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  border: none;
  cursor: pointer;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  height: 40px;
  -webkit-transition: 0.3s;
  -moz-transition: 0.3s;
  -ms-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  background: transparent;
  outline: none;
  -webkit-tap-highlight-color: transparent;
  padding: 0; }
  .tcon > * {
    display: block; }
  .tcon:hover, .tcon:focus {
    outline: none; }
  .tcon::-moz-focus-inner {
    border: 0; }

.tcon, .tcon-menu__lines, .tcon-menu__lines::before, .tcon-menu__lines::after {
  width: 40px; }

.tcon-menu__lines, .tcon-menu__lines::before, .tcon-menu__lines::after {
  display: inline-block;
  height: 3px;
  -webkit-transition: 0.3s;
  -moz-transition: 0.3s;
  -ms-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
  background: #6c6f7d;
  position: relative; }

.tcon-menu__lines::before, .tcon-menu__lines::after {
  content: '';
  position: absolute;
  left: 0;
  -webkit-transform-origin: 2.85714px center;
  transform-origin: 2.85714px center;
  width: 100%; }

.tcon-menu__lines::before {
  top: 10px; }

.tcon-menu__lines::after {
  top: -10px; }

.tcon-transform .tcon-menu__lines {
  transform: scale3d(0.8, 0.8, 0.8); }

.tcon-menu--xcross {
  width: auto; }

.tcon-menu--xcross.tcon-transform .tcon-menu__lines {
  background: transparent; }

.tcon-menu--xcross.tcon-transform .tcon-menu__lines::before,
.tcon-menu--xcross.tcon-transform .tcon-menu__lines::after {
  transform-origin: 50% 50%;
  top: 0;
  width: 40px; }

.tcon-menu--xcross.tcon-transform .tcon-menu__lines::before {
  transform: rotate3d(0, 0, 1, 45deg); }

.tcon-menu--xcross.tcon-transform .tcon-menu__lines::after {
  transform: rotate3d(0, 0, 1, -45deg); }

.tcon-visuallyhidden {
  border: 0;
  margin: -1px;
  padding: 0;
  width: 1px;
  height: 1px;
  overflow: hidden;
  clip: rect(0 0 0 0);
  clip: rect(0, 0, 0, 0);
  position: absolute; }
  .tcon-visuallyhidden:active, .tcon-visuallyhidden:focus {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto; }

.menu.col {
  float: right;
  text-align: right;
  height: auto; }
  .menu.col ul {
    -webkit-animation: fade-in 1.2s, slide-from-right 1.2s;
    -moz-animation: fade-in 1.2s, slide-from-right 1.2s;
    -ms-animation: fade-in 1.2s, slide-from-right 1.2s;
    -o-animation: fade-in 1.2s, slide-from-right 1.2s;
    animation: fade-in 1.2s, slide-from-right 1.2s; }
    @media only screen and (max-width: 768px) {
      .menu.col ul {
        display: none;
        padding: 20px 0;
        float: none;
        position: absolute;
        width: 100%;
        background-color: #41434b;
        left: 0;
        top: 0;
        text-align: center;
        height: 100vh;
        padding-top: 20%;
        z-index: 2;
        -webkit-animation: fade-in .4s, slide-from-right 0;
        -moz-animation: fade-in .4s, slide-from-right 0;
        -ms-animation: fade-in .4s, slide-from-right 0;
        -o-animation: fade-in .4s, slide-from-right 0;
        animation: fade-in .4s, slide-from-right 0; } }
  .menu.col li {
    display: inline-block;
    margin: 0 20px; }
    .menu.col li:last-child {
      margin-right: 0; }
    .menu.col li.current_page_item {
      border-bottom: 3px solid #58c6ff;
      box-shadow: inset 0 -5px 0 #58c6ff; }
      @media only screen and (max-width: 768px) {
        .menu.col li.current_page_item {
          border: none;
          box-shadow: none; } }
    .menu.col li.search img {
      opacity: .75;
      cursor: pointer; }
      .menu.col li.search img:hover {
        opacity: 1; }
    @media only screen and (max-width: 768px) {
      .menu.col li.search {
        margin-top: 20px; } }
    .menu.col li a, .menu.col li a:visited {
      text-decoration: none;
      color: inherit;
      border-bottom: 3px solid transparent;
      box-shadow: none; }
      .menu.col li a:hover, .menu.col li a:visited:hover {
        border-bottom: 3px solid #58c6ff;
        box-shadow: inset 0 -5px 0 #58c6ff; }
      @media only screen and (max-width: 768px) {
        .menu.col li a, .menu.col li a:visited {
          color: #fff;
          display: inline-block;
          font-size: 2.5rem;
          padding: 10px 15px; } }
    @media only screen and (max-width: 768px) {
      .menu.col li {
        width: 100%;
        display: inline-block;
        padding: 0;
        margin: 0; } }
  .menu.col .tcon {
    display: none;
    position: absolute;
    top: 94px;
    z-index: 3;
    right: 80px; }
    @media only screen and (max-width: 1000px) {
      .menu.col .tcon {
        top: 92px; } }
    @media only screen and (max-width: 768px) {
      .menu.col .tcon {
        display: block;
        right: 50px;
        top: 44px; } }
    @media only screen and (max-width: 600px) {
      .menu.col .tcon {
        top: 11px;
        right: 30px; } }

/*
TABLE OF CONTENTS
  HTML & Resets
  Grid
  Floats
  Form Elements
*/
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, font, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td {
  margin: 0;
  padding: 0;
  text-rendering: optimizelegibility; }

*, *:before, *:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

article, aside, figure, figure img, figcaption, hgroup, footer, header, nav, section, video, object {
  display: block; }

html {
  font-size: 62.5%; }

body {
  color: #252627;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  font-size: 1.8rem;
  background-color: #F1F2F6; }

body, html {
  direction: ltr;
  height: 100%; }

.wrapper {
  min-height: 100%;
  margin-bottom: -160px; }
  .wrapper:after {
    content: "";
    display: block; }
  @media only screen and (max-width: 1440px) {
    .wrapper {
      min-width: 0;
      max-width: 1440px; } }
  @media only screen and (max-width: 768px) {
    .wrapper {
      margin-bottom: auto; } }

body, input, textarea, select, button {
  font-family: "Inconsolata", courier; }

a, a:visited {
  color: #0278b5;
  text-decoration: none;
  border-bottom: 3px solid transparent;
  box-shadow: none; }
  a:hover, a:active, a:visited:hover, a:visited:active {
    color: #0293dd;
    border-bottom: 3px solid #58c6ff;
    box-shadow: inset 0 -5px 0 #58c6ff; }

a.no-border, .branding h1 a:hover, a.load-more, a.load-more:visited, .widget .tags a.tag, .more a, .more a:visited, .post-wrap .excerpt a, .post-wrap .excerpt a:visited, a.post, a.post:visited {
  border: none;
  box-shadow: none; }

a, li, img, input, button, .btn, p, h3, .fa, .read-more {
  -webkit-transition: all 0.2s ease-in-out;
  -moz-transition: all 0.2s ease-in-out;
  -ms-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out; }

p {
  margin-bottom: 25px;
  line-height: 145%; }

hr {
  display: block;
  border: none;
  border-bottom: 4px solid #bfc1cc;
  height: 0;
  clear: both;
  box-sizing: content-box; }
  hr.small {
    height: 1px; }

figure {
  position: relative;
  text-align: center; }
  figure img {
    display: block;
    margin: 0 auto; }
  figure figcaption {
    font-size: 1rem; }

img {
  height: auto;
  max-width: 100%; }

.small, small {
  font-size: 1.3rem; }

h1, h2, h3, h4, h5 {
  font-family: "Roboto", "Helvetica Neue", sans-serif;
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
  margin: 0 0 1.2rem 0; }

h1 {
  font-size: 2.4rem; }

h2 {
  font-size: 2rem; }

h3 {
  font-size: 1.8rem; }

h4 {
  font-size: 1.4rem; }

h5 {
  font-size: 1rem; }

h6 {
  font-size: .8rem; }

blockquote {
  margin: 40px 60px;
  border-left: 3px solid #bfc1cc;
  padding-left: 25px;
  color: #737d8d; }
  @media only screen and (max-width: 768px) {
    blockquote {
      padding-left: 20px;
      margin-left: 0;
      margin-right: 0; } }

pre {
  margin: 3rem 0;
  background: #1a1a1a;
  color: #58c6ff;
  padding: 1.5rem 1.5rem;
  overflow: auto;
  display: block;
  overflow: auto;
  word-wrap: normal;
  white-space: pre;
  -moz-tab-size: 4;
  -o-tab-size: 4;
  tab-size: 4;
  line-height: 1.5;
  font-size: 2rem; }

sub, sup {
  font-size: 12px;
  font-size: 0.75rem;
  line-height: 1.75;
  line-height: 0;
  position: relative;
  vertical-align: baseline; }

sub {
  bottom: -0.25em; }

table {
  border-collapse: collapse;
  border-spacing: 0;
  margin-bottom: 3rem;
  margin-top: 3rem;
  width: 100%; }
  table th, table caption {
    line-height: 1.75;
    text-transform: uppercase;
    letter-spacing: 0.1em;
    padding: 0.75rem 1.5rem;
    text-align: left;
    font-weight: 600; }
  table td {
    padding: 0.75rem 1.5rem;
    border-bottom: 1px solid rgba(26, 26, 26, 0.3);
    vertical-align: top; }

.row {
  max-width: 1200px;
  clear: both;
  margin: 0 auto;
  padding: 0 80px; }
  .row:before, .row:after {
    content: "";
    display: table; }
  .row:after {
    clear: both; }
  @media only screen and (min-width: 1440px) {
    .row {
      max-width: 1420px; } }
  .row .col {
    float: left;
    margin: 25px 4% 25px 0;
    display: block; }
    .row .col:last-child, .row .col.twelvecol {
      margin-right: 0; }
    @media only screen and (max-width: 768px) {
      .row .col {
        float: none;
        margin: 30px 0;
        width: auto; } }

.twelvecol {
  width: 100%; }

.elevencol {
  width: 91.33%; }

.tencol {
  width: 82.66%; }

.ninecol {
  width: 74%; }

.eightcol {
  width: 65.33%; }

.sevencol {
  width: 56.66%; }

.sixcol {
  width: 48%; }

.fivecol {
  width: 39.33%; }

.fourcol {
  width: 30.66%; }

.threecol {
  width: 22%; }

.twocol {
  width: 13.33%; }

.onecol {
  width: 4.666%; }

.left {
  float: left; }

.right {
  float: right; }

.clearfix:after, .bar:after, .row:after, .post-wrap:after {
  content: "";
  display: table;
  clear: both; }

input[type=text], input[type=email], input[type=password], textarea {
  border-style: 1px solid #bfc1cc;
  padding: 8px;
  color: #252627;
  -webkit-appearance: none; }

input:focus, textarea:focus {
  border-color: #333; }

textarea {
  width: 100%; }

.btn, button, input[type=submit] {
  background: #333;
  color: #fff;
  padding: 12px 32px;
  border-radius: 2px;
  cursor: pointer;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  border: none;
  text-transform: uppercase;
  letter-spacing: .08em;
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
  font-weight: 600;
  font-size: 1.1rem;
  font-family: "Roboto", "Helvetica Neue", sans-serif;
  text-align: center; }

@-webkit-keyframes fade-in {
  0% {
    opacity: 0; }
  100% {
    opacity: 1; } }
@-moz-keyframes fade-in {
  0% {
    opacity: 0; }
  100% {
    opacity: 1; } }
@-ms-keyframes fade-in {
  0% {
    opacity: 0; }
  100% {
    opacity: 1; } }
@-o-keyframes fade-in {
  0% {
    opacity: 0; }
  100% {
    opacity: 1; } }
@keyframes fade-in {
  0% {
    opacity: 0; }
  100% {
    opacity: 1; } }
@-webkit-keyframes slide-from-right {
  0% {
    margin-right: -20px; }
  100% {
    margin-right: 0; } }
@-moz-keyframes slide-from-right {
  0% {
    margin-right: -20px; }
  100% {
    margin-right: 0; } }
@-ms-keyframes slide-from-right {
  0% {
    margin-right: -20px; }
  100% {
    margin-right: 0; } }
@-o-keyframes slide-from-right {
  0% {
    margin-right: -20px; }
  100% {
    margin-right: 0; } }
@keyframes slide-from-right {
  0% {
    margin-right: -20px; }
  100% {
    margin-right: 0; } }
@-webkit-keyframes slide-from-left {
  0% {
    margin-left: -20px; }
  100% {
    margin-left: 0; } }
@-moz-keyframes slide-from-left {
  0% {
    margin-left: -20px; }
  100% {
    margin-left: 0; } }
@-ms-keyframes slide-from-left {
  0% {
    margin-left: -20px; }
  100% {
    margin-left: 0; } }
@-o-keyframes slide-from-left {
  0% {
    margin-left: -20px; }
  100% {
    margin-left: 0; } }
@keyframes slide-from-left {
  0% {
    margin-left: -20px; }
  100% {
    margin-left: 0; } }
@-webkit-keyframes loading {
  0% {
    width: 0; }
  99% {
    width: 100%;
    opacity: 1; }
  100% {
    opacity: 0; } }
@-moz-keyframes loading {
  0% {
    width: 0; }
  99% {
    width: 100%;
    opacity: 1; }
  100% {
    opacity: 0; } }
@-ms-keyframes loading {
  0% {
    width: 0; }
  99% {
    width: 100%;
    opacity: 1; }
  100% {
    opacity: 0; } }
@-o-keyframes loading {
  0% {
    width: 0; }
  99% {
    width: 100%;
    opacity: 1; }
  100% {
    opacity: 0; } }
@keyframes loading {
  0% {
    width: 0; }
  99% {
    width: 100%;
    opacity: 1; }
  100% {
    opacity: 0; } }
.top-border, .bottom-border,
.left-border, .right-border {
  background: #e8e9ee;
  position: fixed;
  width: 100%;
  z-index: 999; }
  @media only screen and (max-width: 768px) {
    .top-border, .bottom-border,
    .left-border, .right-border {
      display: none; } }

.top-border {
  top: 0;
  left: 0; }

.bottom-border {
  bottom: 0;
  left: 0; }

.left-border, .right-border {
  position: fixed;
  z-index: 9999;
  width: 25px;
  height: 100%; }

.left-border {
  left: 0; }

.right-border {
  right: 0; }

.top-border, .bottom-border {
  height: 25px; }

.container {
  padding: 80px; }
  @media only screen and (max-width: 768px) {
    .container {
      padding: 50px; } }
  @media only screen and (max-width: 600px) {
    .container {
      padding: 30px; } }

@media only screen and (max-width: 1000px) {
  .container, .row {
    padding-left: 50px;
    padding-right: 50px; } }
@media only screen and (max-width: 600px) {
  .container, .row {
    padding-left: 30px;
    padding-right: 30px; } }

.row.inner {
  padding: 0;
  margin: 0; }

.loader {
  height: 3px;
  background-color: #0278b5;
  position: fixed;
  top: 20px;
  width: 0;
  -webkit-animation: loading 1.3s linear forwards;
  -moz-animation: loading 1.3s linear forwards;
  -ms-animation: loading 1.3s linear forwards;
  -o-animation: loading 1.3s linear forwards;
  animation: loading 1.3s linear forwards; }

.branding {
  -webkit-animation: fade-in 1.2s, slide-from-left 1.2s;
  -moz-animation: fade-in 1.2s, slide-from-left 1.2s;
  -ms-animation: fade-in 1.2s, slide-from-left 1.2s;
  -o-animation: fade-in 1.2s, slide-from-left 1.2s;
  animation: fade-in 1.2s, slide-from-left 1.2s; }
  .branding .logomark {
    height: 91px;
    width: 77px;
    margin-top: -27px; }
    @media only screen and (max-width: 600px) {
      .branding .logomark {
        height: 59px;
        width: 52px;
        margin-top: 0; } }
  .branding h1 {
    font-size: 2rem;
    margin-bottom: 4px; }
    .branding h1 a {
      border: none;
      color: inherit; }
  .branding .small {
    font-weight: 100;
    font-family: "Inconsolata", courier;
    color: #737d8d; }
  @media only screen and (max-width: 600px) {
    .branding {
      margin-top: -14px; } }

.intro {
  margin: 12% 0 13%; }
  @media only screen and (max-width: 768px) {
    .intro {
      margin: 17% 0 24%; } }
  @media only screen and (max-width: 600px) {
    .intro {
      margin: 23% 0 14%; } }
  .intro h3 {
    font-size: 6.2rem;
    font-weight: 100;
    -webkit-animation: fade-in 1.2s, slide-from-left 1.2s;
    -moz-animation: fade-in 1.2s, slide-from-left 1.2s;
    -ms-animation: fade-in 1.2s, slide-from-left 1.2s;
    -o-animation: fade-in 1.2s, slide-from-left 1.2s;
    animation: fade-in 1.2s, slide-from-left 1.2s;
    width: 75%; }
    @media only screen and (max-width: 1440px) {
      .intro h3 {
        width: auto; } }
    @media only screen and (max-width: 1000px) {
      .intro h3 {
        font-size: 3.5rem; } }
    @media only screen and (max-width: 768px) {
      .intro h3 {
        font-size: 3.2rem; } }
    @media only screen and (max-width: 600px) {
      .intro h3 {
        font-size: 2.4rem; } }
  .intro hr {
    margin: 25px 0 0 0 !important; }

.filtering.col {
  width: 20%; }
  .filtering.col button {
    background: transparent;
    text-transform: capitalize;
    padding: 0 0 0 14px;
    color: #737d8d;
    display: block;
    font-size: 1.8rem;
    font-family: "Inconsolata", courier;
    text-align: left;
    font-weight: 400; }
    .filtering.col button:focus {
      outline: none; }
    .filtering.col button:hover, .filtering.col button:focus {
      color: inherit; }
    .filtering.col button.is-checked {
      color: inherit; }
      .filtering.col button.is-checked:before {
        content: "\2713 ";
        margin-left: -14px; }

@media only screen and (max-width: 1000px) {
  .filtering.col, .samples.col {
    float: none;
    margin: 30px 0;
    width: auto; } }

.samples.col {
  width: 76%; }

a.load-more, a.load-more:visited {
  margin-top: 44px;
  background-color: transparent;
  border: 2px solid #bfc1cc;
  border-radius: 4px;
  color: inherit;
  padding: 18px;
  display: block; }
  a.load-more:hover, a.load-more:active, a.load-more:visited:hover, a.load-more:visited:active {
    background: #73757d;
    border-color: #73757d;
    color: #fff; }

.widget {
  margin-bottom: 60px; }
  .widget .tags .tag {
    background: #43444b;
    color: #fff;
    padding: 7px 10px;
    font-size: 1.45rem;
    display: inline-block;
    margin-bottom: 6px; }
    .widget .tags .tag:hover, .widget .tags .tag:active {
      background: #0293dd; }
  .widget a {
    font-weight: 600; }
  .widget h4 {
    font-size: 2rem; }
  .widget ul li {
    list-style: none;
    line-height: 1.25;
    margin-bottom: 27px; }
    .widget ul li .date {
      display: block;
      margin-top: 6px; }
    .widget ul li a, .widget ul li a:hover {
      border: none;
      color: inherit; }

.widget hr, .pagetitle hr, .intro hr, .related hr {
  max-width: 30px;
  margin: 0 0 30px;
  max-width: 30px; }

.date, .comments-number {
  color: #737d8d;
  font-size: 1.45rem; }

.widgets-footer {
  margin: 50px 0 300px; }
  @media only screen and (max-width: 768px) {
    .widgets-footer {
      margin-bottom: auto; } }
  .widgets-footer hr.divider {
    margin: 60px 0; }
  @media only screen and (max-width: 768px) {
    .widgets-footer .widget.col {
      float: none;
      display: block;
      width: 100%;
      margin-bottom: 40px; } }

.container.bottom {
  background: #e8e9ee;
  margin-top: 210px; }
  @media only screen and (min-width: 1440px) {
    .container.bottom {
      padding: 80px; } }
  @media only screen and (max-width: 768px) {
    .container.bottom {
      margin-top: 20px; } }

footer {
  height: 210px; }
  footer .col {
    margin: 0; }
    footer .col.right {
      float: right;
      margin-top: 17px; }
    footer .col .email a, footer .col .email a:visited {
      color: #737d8d; }
      footer .col .email a:hover, footer .col .email a:active, footer .col .email a:visited:hover, footer .col .email a:visited:active {
        color: inherit; }
  @media only screen and (max-width: 768px) {
    footer {
      text-align: center;
      padding: 50px; }
      footer .col, footer .col.right {
        float: none; }
      footer .more {
        margin-bottom: 20px; }
      footer .copy, footer .email {
        display: block; }
      footer .copy {
        margin-bottom: 7px; }
      footer .col.contact {
        float: none; }
      footer .divider {
        display: none; } }

.more a, .more a:visited {
  color: inherit; }
.more i {
  color: inherit;
  border: none;
  display: inline-block;
  margin-left: 2px;
  color: inherit;
  width: 35px;
  height: 35px;
  line-height: 35px;
  text-align: center; }
  .more i:hover, .more i:active {
    background-color: #F1F2F6; }

.pagetitle {
  margin: 8% 0 1%; }
  @media only screen and (max-width: 768px) {
    .pagetitle {
      margin-top: 20%; } }
  .pagetitle .type {
    margin-bottom: 3px;
    color: #737d8d;
    font-size: 1.45rem; }
  .pagetitle h2 {
    font-size: 6.2rem;
    font-weight: 100; }
    @media only screen and (max-width: 768px) {
      .pagetitle h2 {
        font-size: 2.8rem;
        line-height: 1.2; } }

.entry {
  margin-top: 8px; }

.single .img-featured {
  display: block;
  margin: 40px 0; }
.single .page-banner hr {
  margin-top: 20px; }
.single .pagetitle {
  margin-top: 16%;
  text-align: center; }
  .single .pagetitle h2 {
    font-size: 4.75rem;
    font-weight: 100;
    margin: 0 0 8px 0; }
    @media only screen and (max-width: 768px) {
      .single .pagetitle h2 {
        font-size: 2.8rem; } }
  @media only screen and (max-width: 768px) {
    .single .pagetitle {
      text-align: left; } }
.single article {
  font-size: 2rem; }
.single .row.single-wrap {
  max-width: 900px; }
.single .entry .img-blog img {
  margin: 35px auto 45px;
  display: block; }
.single .related {
  margin: 100px 0; }
  .single .related h3 {
    margin-top: 30px; }
  .single .related h4 {
    margin: 12px 0 0; }
  .single .related .row .col {
    margin-top: 0;
    margin-bottom: 0; }

.meta.post-footer {
  margin: 40px 0;
  font-size: 1.45rem; }
  .meta.post-footer nav {
    margin-top: 50px; }
  .meta.post-footer .cats, .meta.post-footer .tags {
    display: inline-block;
    color: #737d8d; }
  .meta.post-footer .tags {
    margin-left: 40px; }
  .meta.post-footer .cats a, .meta.post-footer .tags a {
    font-weight: 700;
    color: #252627;
    display: inline-block;
    margin-right: 6px; }
  .meta.post-footer h3 {
    margin: 0 0 20px; }
  .meta.post-footer hr {
    width: 40px;
    margin: 80px 0 20px 0; }

.col.sidebar {
  margin-top: 38px; }
  .col.sidebar .meta {
    margin-bottom: 75px; }
    .col.sidebar .meta .date, .col.sidebar .meta .comments-number {
      margin-bottom: 8px; }
    .col.sidebar .meta .cats a {
      color: inherit;
      font-size: 1.45rem; }

@media only screen and (max-width: 768px) {
  article {
    float: none;
    margin: 30px 0;
    width: auto; } }
article h1, article h2, article h3, article h4, article h5, article h6 {
  margin-top: 3rem; }
article hr {
  margin: 3rem auto; }
article dl, article ul, article ol {
  clear: both; }
article ul, article ol {
  margin: 0 0 1.5rem 1.5rem;
  padding: 0; }
article ul {
  list-style: disc; }
article ol {
  list-style: decimal; }
article ol ol, article ul ul, article li {
  margin-top: 1.2rem; }
article dl dt {
  font-weight: bold; }
article dl dd {
  margin: 0 1.5rem 1.5rem 1.5rem;
  line-height: 1.4; }
article p img {
  vertical-align: middle; }

@media only screen and (max-width: 768px) {
  .sidebar {
    float: none;
    margin: 30px 0;
    width: auto; } }

.post-wrap {
  margin-bottom: 70px; }
  .post-wrap h3 {
    font-size: 2.8rem;
    border-bottom: 1px solid transparent;
    display: inline; }
    @media only screen and (max-width: 768px) {
      .post-wrap h3 {
        font-size: 2rem; } }
    .post-wrap h3 a {
      border: none;
      display: inline-block;
      color: inherit; }
  .post-wrap p {
    color: #737d8d; }
  .post-wrap .post:hover p {
    color: inherit; }
  .post-wrap .date {
    margin-top: 5px; }
  .post-wrap .cat {
    margin-top: 3px; }
  .post-wrap .excerpt.col {
    float: right; }
  .post-wrap .excerpt .read-more {
    font-size: 1.45rem;
    font-weight: 900;
    margin-top: -10px;
    background: #43444b;
    color: #F1F2F6;
    padding: 6px 12px;
    display: inline-block; }
    .post-wrap .excerpt .read-more:hover {
      background: #111; }
  .post-wrap .excerpt a, .post-wrap .excerpt a:visited {
    display: block;
    color: inherit; }
    .post-wrap .excerpt a h3, .post-wrap .excerpt a:visited h3 {
      border-bottom: 3px solid transparent;
      box-shadow: none;
      margin: 0 0 10px; }
    .post-wrap .excerpt a:hover h3, .post-wrap .excerpt a:visited:hover h3 {
      border-bottom: 3px solid #58c6ff;
      box-shadow: inset 0 -5px 0 #58c6ff; }
  .post-wrap:hover .img-blog img {
    opacity: 1; }

a.post, a.post:visited {
  display: block;
  border: none;
  color: inherit; }
  a.post:hover h3, a.post:visited:hover h3 {
    border-bottom: 1px solid #bfc1cc; }

.img-blog {
  background: #000; }
  .img-blog img {
    display: block;
    opacity: .9;
    -webkit-backface-visibility: hidden; }

.blog article, .archive article {
  margin: 0; }

.archive .post-wrap .col.meta, .archive .post-wrap .col.excerpt {
  float: none;
  width: auto;
  margin: 0; }
.archive .post-wrap:nth-of-type(3n) {
  margin-right: 0; }
.archive .post-wrap .excerpt h3 {
  font-size: 2rem;
  display: block;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  width: 90%;
  margin: 10px 0 0 0; }
  @media only screen and (max-width: 768px) {
    .archive .post-wrap .excerpt h3 {
      overflow: visible;
      text-overflow: inherit;
      white-space: normal; } }

.page-banner {
  margin-top: 22px;
  position: relative;
  overflow: hidden;
  background-color: #1a1b1d;
  margin-bottom: 50px;
  -webkit-animation: fade-in 1.2s;
  -moz-animation: fade-in 1.2s;
  -ms-animation: fade-in 1.2s;
  -o-animation: fade-in 1.2s;
  animation: fade-in 1.2s; }
  .page-banner .img-blog {
    background: url(../img/img-blog.jpg) no-repeat center center fixed;
    background-size: cover;
    height: 500px;
    opacity: .4; }
    @media only screen and (max-width: 768px) {
      .page-banner .img-blog {
        height: 280px;
        background-attachment: inherit; } }
  .page-banner .pagetitle {
    position: absolute;
    bottom: 10%;
    color: #fff;
    width: 100%;
    text-align: left; }
  .page-banner hr {
    margin: 0; }

.error-msg {
  margin-top: 25px; }

.search-icon {
  fill: #111; }
  @media only screen and (max-width: 768px) {
    .search-icon {
      fill: #fff; } }

.search-form {
  width: 320px;
  overflow: hidden; }
  .search-form button {
    float: right;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0; }
  .search-form .search-field {
    border: none;
    width: 70%;
    height: 70px;
    font-size: 1.45rem;
    padding-left: 14px;
    outline: none; }
  .search-form .search-field, .search-form button {
    height: 48px; }

.screen-reader-text {
  display: none; }

.related article {
  margin: 0; }
.related .date {
  margin-bottom: 24px; }
.related .post-wrap h3.title {
  line-height: 1.25;
  margin-bottom: 5px;
  font-size: 1.8rem;
  display: inline; }
  .related .post-wrap h3.title a {
    color: inherit; }
.related .post-wrap .img-blog img {
  margin: 0 0 10px;
  display: block; }
.related .col {
  margin-top: 0;
  margin-bottom: 0; }

.alignleft {
  float: left;
  margin-right: 3.2rem; }
  @media only screen and (max-width: 1000px) {
    .alignleft {
      margin-left: 0; } }

.alignright, .alignleft {
  max-width: 48%;
  margin-top: 1rem;
  margin-bottom: 1.5rem; }
  @media only screen and (max-width: 768px) {
    .alignright, .alignleft {
      float: none;
      margin: 30px 0;
      width: auto;
      max-width: 100%; } }

.wp-caption.alignleft, .wp-caption.alignright {
  background-color: rgba(255, 255, 255, 0.88);
  padding: 20px 20px 0 20px; }

.alignnone {
  display: block;
  width: 100%;
  margin: 40px auto; }

.alignright {
  float: right;
  margin-left: 3.2rem; }
  @media only screen and (max-width: 1000px) {
    .alignright {
      margin-right: 0; } }

.wp-caption {
  text-align: center; }
  .wp-caption img {
    display: block;
    margin-bottom: 12px; }
  .wp-caption .wp-caption-text {
    font-size: 1.45rem;
    color: #737d8d; }

.attach-wrap {
  margin-top: 5%;
  margin-bottom: 10%; }

.attachment .sidebar .desc {
  font-size: 1.45rem; }
.attachment .sidebar .meta {
  margin-bottom: 32px; }
.attachment .sidebar nav {
  font-size: 1.45rem; }
  .attachment .sidebar nav a, .attachment .sidebar nav a:visited {
    color: inherit; }
.attachment .sidebar h2 {
  margin-bottom: 5px; }

/*# sourceMappingURL=style.css.map */
