.top-border,.bottom-border,
.left-border,.right-border {
  background: $bg-med;
  position: fixed;
  width: 100%;
  z-index: 999;
  padding: 10px;
  @include screen-sm {
    display: none;
  }
}

.top-border {
    top: 0;
    left: 0;
}
.bottom-border {
    bottom: 0;
    left: 0;
}
.left-border,.right-border {
  position: fixed;
  z-index: 9999;
  width: 25px;
  height: 100%;
}
.left-border {
    left: 0;
}
.right-border {
    right: 0;
}

.container {
  padding: $screen-padding-large;
  @include screen-sm {
    padding: $screen-padding-sm;
  }
  @include screen-xs {
    padding:$screen-padding-xs
  }
}
.container,.row {
  @include screen-med {
    padding-left: 50px;
    padding-right: 50px;
  }
  @include screen-xs {
    padding-left: 30px;
    padding-right: 30px;
  }
}

.loader {
  height: 3px;
  background-color: $link-color;
  position: fixed;
  top:20px;
  width:0;
  @include animation(loading 1.3s linear forwards);
}

.branding {
  @include animation(('fade-in 1.2s','slide-from-left 1.2s'));
  h1 {
    font-size: $font-bigger;
    margin-bottom: 4px;
    a {
      border:none;
      color: inherit;
    }
  }
  .small {
    font-weight: 100;
    font-family: $font-family-body;
    color:$text-color-lt;
  }
  @include screen-xs {
    margin-top: -14px
  }
}

.intro {
  h3 {
    font-size: 5.4rem;
    margin:10% 0 15%;
    @include animation(('fade-in 1.2s','slide-from-left 1.2s'));
    width:75%;
    @include screen-laptop {
      font-size:4rem;
      width:auto;
    }
    @include screen-med {
      font-size: 3.5rem;
    }
    @include screen-sm {
      font-size: 3.2rem;
      margin:17% 0 24%;
    }
    @include screen-xs {
      font-size: 2.2rem;
      margin:23% 0 21%;
    }
  }
}

.filtering.col {
  button {
    background: transparent;
    text-transform: capitalize;
    padding:0 0 0 14px;
    color: $text-color-lt;
    display: block;
    font-size:$font-body;
    font-family: $font-family-body;
    text-align: left;
    font-weight: 400;
    &:focus {
      outline:none;
    }
    &:hover,&:focus {
      color: inherit;
    }
    &.is-checked {
      color: inherit;
      &:before {
        content: "\2713 ";
        margin-left: -14px;
      }
    }
  }
}

.filtering.col,.samples.col {
  @include screen-med {
    float:none;
    width:100%;
  }
}

a.load-more,a.load-more:visited {
  margin-top: 40px;
  background-color: transparent;
  border:2px solid $border-dark;
  border-radius: 4px;
  color: inherit;
  padding:16px;
  display: block;
  &:hover,&:active {
    background: $border-dark;
    color: inherit;
  }
}

.widget {
  margin-bottom:50px;
  h4 {
    margin-bottom: 25px;
    font-size: $font-bigger
  }
  hr {
    margin-bottom: 30px;
  }
  ul {
    li {
      list-style: none;
      line-height: 1.35;
      margin-bottom: 15px;
      .date {
        color: $text-color-lt;
        display: inline;
      }
    }
  }
}

.page.col {
  margin:0;
}

.sidebar.col {
  float:right;
  margin:0;
  .widget {
    background-color: $bg-med;
    padding:$screen-padding-sm
  }
}

.widgets-footer {
  margin-top: 5%;
  hr {
    margin:5% 0;
  }
  .widget.col {
    @include screen-sm {
      float:none;
      display: block;
      width:100%;
      margin-bottom: 40px;
    }
  }
}

.container.bottom {
  background: $bg-med;
  margin-top: 80px;
  padding:$screen-padding-sm;
  @include screen-large {
    padding:$screen-padding-large
  }
}

footer {
  .col {
    margin:0;
    &.right {
      float:right;
    }
  }
  @include screen-sm {
    text-align: center;
    padding:$screen-padding-sm;
    .col,.col.right {
      float:none
    }
    .more {
      margin-bottom: 20px;
    }
    .copy,.email {
      display: block;
    }
    .copy {
      margin-bottom: 5px;
    }
    .divider {
      display: none;
    }
  }
}

.more {
  a,a:visited {
    color: inherit;
    font-size: 1.8rem;
    border:none;
    display: inline-block;
    margin-left: 4px;
    color:#fff;
    background: $link-color;
    width:30px;
    height:30px;
    text-align: center;
    line-height: 30px;
    &:hover,&:active {
      background: $link-color-hover
    }
  }
}

.main {
  margin-top:5%;
}

.pagetitle {
  h2 {
    font-size: 5rem;
    margin-bottom: 3%;
  }
  hr {
    margin-bottom: 4%;
  }
}

article {
  h1,h2,h3,h4,h5,h6 {
    margin-top: 3rem;
  }
  hr {
    margin:3rem auto
  }
  dl,ul,ol {
    clear:both
  }
  ul,ol {
    margin: 0 0 1.5rem 1.5rem;
    padding: 0;
  }
  ul {
    list-style: disc;
  }
  ol {
    list-style: decimal;
  }
  ol ol, ul ul, li {
    margin-top: 1.2rem;
  }
  dl {
    dt {
      font-weight: bold;
    }
    dd {
      margin:0 1.5rem 1.5rem 1.5rem
    }
  }
  p {
    img {
      vertical-align: middle;
    }
  }
}
