.top-border,.bottom-border,
.left-border,.right-border {
  background: $bg-med;
  position: fixed;
  width: 100%;
  z-index: 999;
  padding: 10px;
  @include screen-sm {
    display: none;
  }
}

.top-border {
    top: 0;
    left: 0;
}
.bottom-border {
    bottom: 0;
    left: 0;
}
.left-border,.right-border {
  position: fixed;
  z-index: 9999;
  width: 25px;
  height: 100%;
}
.left-border {
    left: 0;
}
.right-border {
    right: 0;
}

.container {
  padding: $screen-padding-large;
  @include screen-sm {
    padding: $screen-padding-sm;
  }
  @include screen-xs {
    padding:$screen-padding-xs
  }
}
.container,.row {
  @include screen-med {
    padding-left: 50px;
    padding-right: 50px;
  }
  @include screen-xs {
    padding-left: 30px;
    padding-right: 30px;
  }
}

.loader {
  height: 3px;
  background-color: $link-color;
  position: fixed;
  top:20px;
  width:0;
  @include animation(loading 1.3s linear forwards);
}

.branding {
  @include animation(('fade-in 1.2s','slide-from-left 1.2s'));
  h1 {
    font-size: 1.8rem;
    margin-bottom: 4px;
    a {
      border:none;
      color: inherit;
    }
  }
  h2 {
    font-weight: 100;
    font-family: $font-family-body;
    color:$text-color-lt;
  }
  @include screen-xs {
    margin-top: -14px
  }
}

.intro {
  h3 {
    font-size: 5.4rem;
    margin:10% 0 15%;
    @include animation(('fade-in 1.2s','slide-from-left 1.2s'));
    width:75%;
    @include screen-laptop {
      font-size:4rem;
      width:auto;
    }
    @include screen-med {
      font-size: 3.5rem;
    }
    @include screen-sm {
      font-size: 3.2rem;
      margin:17% 0 24%;
    }
    @include screen-xs {
      font-size: 2.2rem;
      margin:23% 0 21%;
    }
  }
}

.filtering {
  button {
    background: transparent;
    text-transform: capitalize;
    padding:0 0 0 14px;
    color: $text-color-lt;
    display: block;
    font-size:$font-body;
    font-family: $font-family-body;
    text-align: left;
    font-weight: 400;
    &:focus {
      outline:none;
    }
    &:hover,&:focus {
      color: inherit;
    }
    &.is-checked {
      color: inherit;
      &:before {
        content: "\2713 ";
        margin-left: -14px;
      }
    }
  }
  .sorting {
    margin-top: 50px;
  }
}

a.load-more,a.load-more:visited {
  margin-top: 40px;
  background-color: transparent;
  border:2px solid $border-dark;
  border-radius: 4px;
  color: inherit;
  padding:16px;
  display: block;
  &:hover,&:active {
    background: $border-dark;
    color: inherit;
  }
}

.widget {
  margin-bottom:30px;
  h4 {
    margin-bottom: 20px;
  }
  ul {
    li {
      list-style: none;
      line-height: 1.35;
      margin-bottom: 15px;
      a,a:visited {
        color:inherit;
        &:hover,&:active {
          color: $link-color
        }
      }
      .date {
        color: $text-color-lt;
        display: inline;
      }
    }
  }
}

.widgets-footer {
  margin-top: 5%;
  hr {
    margin:5% 0;
  }
  .widget {
    @include screen-sm {
      float:none;
      display: block;
    }
  }
}

footer.container.row {
  background: $bg-med;
  margin-top: 80px;
  .col {
    margin:0;
    &.right {
      float:right;
    }
  }
}

.more {
  a,a:visited {
    color: inherit;
    font-size: 1.8rem;
    border:none;
    display: inline-block;
    margin-left: 4px;
    color:#fff;
    background: $link-color;
    width:30px;
    height:30px;
    text-align: center;
    line-height: 30px;
    &:hover,&:active {
      background: $link-color-hover
    }
  }
}
