.top-border,.bottom-border,
.left-border,.right-border {
  background: #e8e9ee;
  position: fixed;
  width: 100%;
  z-index: 999;
  padding: 10px;
  @include screen-sm {
    display: none;
  }
}

.top-border {
    top: 0;
    left: 0;
}
.bottom-border {
    bottom: 0;
    left: 0;
}
.left-border,.right-border {
  position: fixed;
  z-index: 9999;
  width: 25px;
  height: 100%;
}
.left-border {
    left: 0;
}
.right-border {
    right: 0;
}

.container {
  padding: $screen-padding-large;
  @include screen-sm {
    padding: $screen-padding-sm;
  }
  @include screen-xs {
    padding:$screen-padding-xs
  }
}
.container,.row {
  @include screen-med {
    padding-left: 50px;
    padding-right: 50px;
  }
  @include screen-xs {
    padding-left: 30px;
    padding-right: 30px;
  }
}
.mast {
  .col {
    margin:0;
  }
}

.branding {
  @include animation(('fade-in 1.5s','slide-from-left 1.2s'));
  h1 {
    font-size: 1.8rem;
    margin-bottom: 4px;
  }
  h2 {
    font-size: 1.2rem;
    font-weight: 100;
    font-family: $font-family-body;
    color:$text-color-lt;
  }
}

.intro {
  h3 {
    font-size: 5.4rem;
    margin:10% 0 15%;
    opacity: 0;
    @include animation('fade-in linear .8s .8s forwards');
    width:75%;
    @include screen-med {
      font-size:4rem;
      width:auto;
    }
    @include screen-sm {
      font-size: 3.2rem;
      margin:17% 0 24%;
    }
    @include screen-xs {
      font-size: 2.2rem;
      margin:23% 0 21%;
    }
  }
}

.filtering {
  h4 {
    margin-bottom: 30px;
  }
  button {
    background: transparent;
    text-transform: capitalize;
    padding:0;
    color: $text-color-lt;
    display: block;
    font-size:$font-smaller;
    text-align: left;
    margin-left: 12px;
    &:focus {
      outline:none;
    }
    &.is-checked {
      color: inherit;
      margin-left: 0;
    }
  }
  li {
    line-height: 1.2;
  }
  .sorting {
    margin-top: 50px;
  }
}

.widget {
  margin-bottom:30px;
  h4 {
    margin-bottom: 20px;
  }
  ul {
    li {
      list-style: none;
      line-height: 1.35;
      margin-bottom: 15px;
      a {
        color:inherit;
      }
      .date {
        color: $text-color-lt;
        display: inline;
      }
    }
  }
}

.widgets-footer {
  margin-top: 10%;
  hr {
    margin:5% 0;
  }
  .widget {
    @include screen-sm {
      float:none;
      display: block;
    }
  }
}
