/*
TABLE OF CONTENTS
  HTML & Resets
  Grid
  Floats
  Form Elements
*/

// =======================================================================
// HTML & Resets
// =======================================================================

html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, font, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td {
    margin:0;
    padding:0;
    text-rendering:optimizelegibility;
}

*, *:before, *:after {
    @include box-sizing;
}

article,aside,figure,figure img,figcaption,hgroup,footer,header,nav,section,video,object {
    display:block
}

html {
    font-size: 62.5%;
}

body {
    color: $text-color;
    -ms-text-size-adjust:100%;
    -webkit-text-size-adjust:100%;
    font-size: $font-body;
    background-color: $bg-lt;
}

body,html {
  direction:ltr;
  height:100%;
}

.wrapper {
  min-height: 100%;
  margin-bottom: -210px;
  &:after {
    content: "";
    display: block;
  }
  @include screen-laptop {
      min-width:0;
      max-width:$content-width;
  }
}

body, input, textarea, select, button {
    font-family: $font-family-body;
}

a, a:visited {
    color: $link-color;
    text-decoration: none;
    @include fat-border;
    &:hover, &:active {
        color:$link-color-hover;
        @include fat-border-hover;
    }
}

a.no-border {
  border:none;
  box-shadow: none;
}

a, li, img, input,button,.btn,p,h3 {
    @include transition(all 0.2s ease-in-out);
}

p {
    margin-bottom:25px;
    line-height:145%;
}

hr {
    display: block;
    border:none;
    border-bottom: 2px solid $border-dark;
    height:0;
    clear: both;
    box-sizing: content-box;
    &.small {
      height: 1px;
    }
}

figure {
    position:relative;
    text-align:center;
    img {
        display: block;
        margin:0 auto;
    }
    figcaption {
        font-size:1rem;
    }
}

img {
    height: auto;
    max-width:100%
}

.small,small {
  font-size: 1.3rem;
}

h1, h2, h3, h4, h5 {
    font-family: $font-family-display;
    @include tuning;
    margin:0 0 1.2rem 0
}

h1 {
    font-size:2.4rem;
}

h2 {
    font-size:2rem;
}

h3 {
    font-size:1.8rem;
}

h4 {
    font-size:1.4rem;
}

h5 {
    font-size: 1rem
}

h6 {
    font-size: .8rem;
}

blockquote {
    margin:25px 45px;
    border-left: 3px solid $border-dark;
    padding-left: 25px;
    color:$text-color-lt
}

pre {
    margin: 3rem 0;
    background: #1a1a1a;
    color: $highlight;
    padding: 1.5rem 1.5rem;
    overflow: auto;
    display: block;
    overflow: auto;
    word-wrap: normal;
    white-space: pre;
    -moz-tab-size: 4;
    -o-tab-size: 4;
    tab-size: 4;
    line-height: 1.5;
    font-size: $font-bigger
}

sub, sup {
  font-size: 12px;
  font-size: 0.75rem;
  line-height: 1.75;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
    bottom: -0.25em;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
    margin-bottom: 3rem;
    margin-top: 3rem;
    width: 100%;
    th,caption {
      line-height: 1.75;
      text-transform: uppercase;
      letter-spacing: 0.1em;
      padding: 0.75rem 1.5rem;
      text-align: left;
      font-weight: 600;
    }
    td {
      padding: 0.75rem 1.5rem;
      border-bottom: 1px solid rgba(26, 26, 26, 0.3);
      vertical-align: top;
    }
}


// =======================================================================
// Grid & Structure
// =======================================================================

.row {
    max-width: 1200px;
    clear: both;
    margin:0 auto;
    padding:0 $screen-padding-large;
    @extend .clearfix;
    &:before, &:after {
      content:"";
      display:table;
    }
    &:after {
      clear:both;
    }
    @include screen-large {
      max-width:1420px;
    }
  .col {
      float: left;
      margin:25px 4% 25px 0;
      display: block;
      &:last-child,&.twelvecol {
          margin-right:0;
      }
    }
  }

.twelvecol {
	width: 100%;
}

.elevencol {
  	width: 91.33%;
}
.tencol {
  	width: 82.66%;
}

.ninecol {
  	width: 74%;
}

.eightcol {
  	width: 65.33%;
}

.sevencol {
  	width: 56.66%;
}

.sixcol {
  	width: 48%;
}

.fivecol {
  width: 39.33%;
}

.fourcol {
  	width: 30.66%;
}

.threecol {
  	width: 22%;
}

.twocol {
  width: 13.33%;
}

.onecol {
  	width: 4.666%
}




// =======================================================================
// Floats
// =======================================================================

.left {
    float:left
}

.right {
    float:right
}

.clearfix {
  &:after {
    content: "";
    display: table;
    clear: both;
  }
}



// =======================================================================
// Form Elements
// =======================================================================

input[type=text], input[type=email], input[type=password], textarea {
    border-style:1px solid $border-dark;
    padding:8px;
    color:$text-color;
    -webkit-appearance: none;
}

input:focus, textarea:focus {
    border-color:#333;
}

textarea {
    width:100%;
}

.btn, button, input[type=submit] {
    background:#333;
    color:#fff;
    padding: 12px 32px;
    border-radius:2px;
    cursor: pointer;
    @include appearance(none);
    border:none;
    @include small-label;
    font-family: $font-family-display;
    text-align: center;
}
