// Grid & Structure //
	$content-width:			1140px;
	$screen-padding-large:80px;
	$screen-padding-sm:	50px;
	$screen-padding-xs:		30px;


// Colors //
	$text-color:			#252627;
	$text-color-lt:		#5b616b;

	$link-color:			#004e77;
	$link-color-hover:	lighten($link-color, 8%);

	$border-lt:				#d7d7d7;
	$border-dark:			#bfc1cc;

	$bg-lt:					#F1F2F6;
	$bg-med:				#e8e9ee;

	$highlight:				#00CDED;


// Type //
	$font-family-display:	'Roboto','Helvetica Neue', sans-serif;
	$font-family-body:		'Inconsolata',courier;

	$font-giant:					5.4rem;
	$font-bigger:					1.85rem;
	$font-body:						1.6rem;
	$font-smaller:				1.4rem;
