// Grid & Structure //
	$content-width:			1440px;
	$screen-padding-large:80px;
	$screen-padding-sm:	50px;
	$screen-padding-xs:		30px;


// Colors //
	$text-color:			#252627;
	$text-color-lt:		#737d8d;

	$link-color:			#0278b5;
	$link-color-hover:	lighten($link-color, 8%);

	$border-lt:				#d7d7d7;
	$border-dark:			#bfc1cc;

	$bg-lt:					#F1F2F6;
	$bg-med:				#e8e9ee;
	$bg-dark:				#43444b;

	$highlight:				 #58c6ff;


// Type //
	$font-family-display:	'Roboto','Helvetica Neue', sans-serif;
	$font-family-body:		'Inconsolata',courier;

	$font-giant:					5.4rem;
	$font-head-tablet:		3rem;
	$font-bigger:					2rem;
	$font-body:						1.8rem;
	$font-smaller:				1.45rem;
