// Grid & Structure //
	$content-width:			1140px;
	$screen-padding:		100px;

// Colors //
	$text-color:			#111;
	$text-color-lt:			#777D85;

	$link-color:			#00CDED;

	$border-lt:				#d7d7d7;
	$border-dark:			#D7D8E1;

	$bg-lt:					#F1F2F6;
	$bg-dark:				#333;

	$highlight:				#fdcf54;


// Type //
	$font-family-display:	'Roboto','Helvetica Neue', sans-serif;
	$font-family-body:		'Inconsolata',courier;

	$font-smaller:				1.4rem;
